
<div class="row">
  <div class="col-xs-12 search form-group">
    <div class="inner-addon left-addon">
      <i class="input-icon fa fa-search"></i>
      <input type="text" class="form-control" placeholder="Search Contact"/>
    </div>
  </div>

  <div class="product_grid">
    <ul class="contact-list list">
      <li class="contact col-xs-4 col-md-3 text-center">
        <div class="contact-image-wrapper">
          <span class="contact-image-block"><img src="http://bit.ly/1onMfJL" alt=""></span>
        </div>
        <div class="contact-info">
          <h3>White Fancy Dress</h3>
          <span><i class="fa fa-phone"></i> +91 988-888-8888</span>
        </div>
      </li>
    </ul>
  </div>
</div>
