body {
  background-color: #6a70ad;
}
/*show font on search bar*/
.inner-addon .input-icon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .input-icon  {
  left:  10px;
}

/* add padding  */
.left-addon input  {
  padding-left:  30px;
}

.search {
  padding: 10px;
  margin: 10px 0;
  box-shadow: 0px 2px 15px #ddd;
  background-color: white;
}

img {
  max-width: 100%;
  height: auto;
}

.contact-list {
  display: block;
  float: left;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.contact {
  background: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px 0;
  box-shadow: 0px 2px 15px #ddd;
}

.contact-image-wrapper {
  height: 180px;
  text-align: center;
  overflow: hidden;
}

.contact-image-block {
  display: inline-block;
  cursor: pointer;
}

.contact-image-wrapper img {
  display: block;
  -webkit-transition: all .35s ease-in-out;
  -moz-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
}

.contact-image-wrapper img:hover {
  -o-transform: scale(1.2, 1.2) translateY(8%);
  -moz-transform: scale(1.2, 1.2) translateY(8%);
  -webkit-transform: scale(1.2, 1.2) translateY(8%);
  -ms-transform: scale(1.2, 1.2) translateY(8%);
  transform: scale(1.2, 1.2) translateY(8%);
}

.contact-info {
  padding: 10px 0;
}
.contact-info i {
  background-color: #ddd;
  border-radius: 50%;
  border: 5px solid #ddd;
}

.custom-modal-dialog {
  width: 400px;
}

.custom-modal-content{
  border-radius: 0;
  box-shadow: 0px 2px 15px #ddd;
}

.modal-image-wrapper {
  height: 240px;
  text-align: center;
  overflow: hidden;
}

.modal-image-block {
  display: inline-block;
  cursor: pointer;
}

.custom-btn {
  border: 1px solid black;
  border-radius: 0;
  background-color: white;
}
.custom-btn:hover {
  background: #ddd;
}
